.youtube-embedded {
  width: 560px;
  height: 315px;
  margin-top: 30px;
}

.spotify-embedded {
  width: 80%;
  height: 500px;
}

/* footer stuff */

@media screen and (max-width: 600px) {
  .youtube-embedded {
    height: auto;
    width: auto;
  }
}