body {
  background-color: #fff0db;
  padding-bottom: 200px;
  margin: 0;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

p {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

a {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.navbar {
  z-index: 1;
  align-items: center;
  text-align: center;
}

ul.navbar {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

}

ul.navbar li {
  display: inline;

}

ul.navbar li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  display: inline-block;
  font-size: xx-large;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}



.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.spotify-embedded {
  width: 80%;
  height: 500px;
}

.relative {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  margin-left: -25%;
}

.header {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: -50px;
}

/* footer stuff */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eed9c4;
}

.footer a:link {
  text-decoration: none;
  opacity: 1;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}

.footer a:active {
  color: #ff0000;
  text-decoration: none;
}

.icon {
  padding: 15px 10px 5px 10px;
  min-height: 110px;
  min-width: 110px;
  max-height: 5%;
  max-width: 5%;
}

@media screen and (max-width: 600px) {
  ul.navbar li {
    display: block;
  }
}