/* Responsive album cover image */
.album-cover {
    width: 300px;
    height: 300px;
    max-width: 100%;
    transition: filter 0.2s;
    display: block;
    margin: 0 auto;
}

a {
    display: inline-block;
}

@media (min-width: 768px) {
    .album-cover {
        width: 500px;
        height: 500px;
    }
}

a:hover .album-cover {
    filter: brightness(0.8) hue-rotate(180deg) saturate(2);
}
