:root {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.main-logo-mobile {
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 60px;
    padding-top: 10px;
}

.main-logo-desktop {
    width: 350px;
    height: auto;
    max-height: 200px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.el-header {
    background-color: transparent;
    padding: 0% !important;
    height: 100px !important;
}

.el-main {
    padding: 0% !important;
}

html,
body {
    touch-action: none !important;
    min-height: 100vh;
    background: url('@/assets/img/mayfly-daydream-background.jpg') no-repeat center center fixed;
    background-size: cover;
}
