/* Fix mobile logo size and centering */
:root {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('@/assets/fonts/NeueHaasDisplay-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.heavy-font {
    font-family: 'NeueHaasDisplay', Arial, sans-serif !important;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#nav-toggle {
    z-index: 2;
}

.main-logo-mobile {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 2;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}
.main-logo-desktop {
    width: 350px;
    height: auto;
    max-height: 200px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-logo-desktop img {
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
}

.el-header {
    background-color: transparent;
    padding: 0% !important;
    height: 100px !important;
}

.el-main {
    padding: 0% !important;
}

html,
body {
    touch-action: none !important;
    min-height: 100vh;
    background: url('@/assets/img/mayfly-daydream-background.jpg') no-repeat center center fixed;
    background-size: cover;
}
