:root {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.main-logo {
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 60px;
    padding-top: 10px;
}

.el-header {
    background-color: #011116;
    padding: 0% !important;
    height: 100px !important;
}

.el-main {
    padding: 0% !important;
}

html,
body {
    touch-action: none !important;
}
