.el-menu:not(.el-menu--collapse) {
    width: 150px;
    height: 100vh;
}

.el-menu--collapse {
    width: 0px;
    height: 0vh;

    /* Prevents navbar from being clicked while collapsed */
    pointer-events: none;
}

.el-menu--vertical {
    position: fixed;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.45) 70%,
        rgba(0, 0, 0, 0) 100%
    ) !important;
    z-index: 1;
    top: 0px;
    padding-top: 80px; /* Adjust padding to maintain layout */
}

.el-menu--vertical .el-menu-item {
    font-family: 'NeueHaasDisplay', Arial, sans-serif !important;
    font-size: 1.5rem !important;
}

.el-menu--horizontal {
    /* position: fixed; */
    width: 100% !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-menu--horizontal .el-menu-item {
    padding-inline: 40px;
    height: 50px;
    background: transparent !important;
    transition: color 0.2s;
    font-size: 1.3rem !important;
}

/* Only highlight the text, not the rectangle, on hover */
.el-menu--horizontal .el-menu-item:hover,
.el-menu--horizontal .el-menu-item.is-active {
    background: transparent !important;
}
.el-menu--horizontal .el-menu-item:hover .el-menu-item__title,
.el-menu--horizontal .el-menu-item.is-active .el-menu-item__title {
    color: #ffd902 !important; /* Example: gold highlight */
}

/* Make sure the text is targeted */
.el-menu--horizontal .el-menu-item__title {
    transition: color 0.2s;
}

.el-menu {
    border: none !important;
    box-shadow: none !important;
}

.el-menu--horizontal {
    background-color: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}
