/* videos.css */

.video-iframe {
    width: 80%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
    margin: 2rem auto;
    border: none;
}

@media (max-width: 600px) {
    .video-iframe {
        width: 80vw;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
    }
}
